@import '../mixins';
@import '../variables';

.excel__formula {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: $formula-height + $header-height;
    height: $formula-height;
    background: lightyellow;
    border-bottom: 1px solid $border-color;
    
    &-info {
        font-size: 1.2rem;
        text-align: center;
        font-style: italic;
        line-height: $formula-height;
        border-right: 1px solid $border-color;
        min-width: $info-cell-width;
    }

    &-input {
        color: #000;
        flex-grow: 1;
        font-size: 1.2rem;
        padding: 0 1rem;
        line-height: $formula-height;
        outline: none;

        &:focus {
            border: 1px solid $input-focus;
        }
    }
}