@import '../mixins';
@import '../variables';

.excel__header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: $header-height;
    padding: 0 .5rem;
    background: antiquewhite;

    .input {
        border: 1px solid transparent;
        outline: none;
        background: transparent;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1rem;
        transition: border-color .2s linear;

        &:hover {
            border: 1px solid $border-color;
        }

        &:focus {
            border: 2px solid $input-focus;
        }
    }

    .actions {
        
        &__btn {
            @include button();
            margin: 0 .2rem;
        }
    }
}

