.bold {
    font-weight: bold;
}

.text-left {
    text-align-last: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}