@import '../mixins';
@import '../variables';
@import '../extends';

.excel__table {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    background: rgba(32, 178, 170, .3);

    .row {
        display: flex;
        min-width: 20px;
        height: $row-height;
        min-height: $row-min-height;

        &:first-child {

            .row-resize {
                display: none;       
            }
        }

        &-info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: $info-cell-width;
            min-width: 40px;
            height: 100%;
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
            background: #f8f9fa;
            font-weight: bold;

            &-text {
                margin: auto;
                user-select: none;
            }

            .row-resize {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 100%;
                background: transparent;
                transition: background-color .2s linear;

                &:hover {
                    @extend .active-resize-row;
                }
            }
        }

        &-data {
            display: flex;

            .column {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f8f9fa;
                min-width: 40px;
                font-weight: bold;
                width: $cell-width;
                border-right: 1px solid $border-color;
                border-bottom: 1px solid $border-color;

                &-template {
                    user-select: none;
                    margin: auto;
                }

                &-resize {
                    align-self: flex-end;
                    width: 5px;
                    height: 100%;
                    background: transparent;
                    transition: background-color .2s linear;

                    &:hover {
                        @extend .active-resize-col;
                    }
                }
            }

            .cell {
                background: #f8f9fa;
                outline: none;
                min-width: 40px;
                width: $cell-width;
                padding: .3rem .2rem;
                border-right: 1px solid $cell-border-color;
                border-bottom: 1px solid $cell-border-color;
                color: #111;

                &.selected {
                    border: 2px solid #3c74ff;
                }
            }
        }
    }
}