@import '../mixins';
@import '../variables';

.excel__toolbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    background: #e5e5e5;
    padding: 0 .5rem;
    height: $toolbar-height;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &-btn {
        @include button(tomato);
        margin: 0 .2rem;

        &.active {
            color: green;
        }
    }
}