@import '../variables';
@import '../mixins';

.dashboard {
    position: relative;
    min-width: 100%;

    &__header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: $db-header-height;
        max-width: 100%;
        box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15);

        &-text {
            margin: auto;
            font-size: 1.5rem;
        }
    }

    &__new {
        margin-top: $db-header-height;
        background: #dadce0;
        
        &-content {
            display: flex;
            max-width: 1000px;
            margin: 0 auto;
            padding: 1.5rem 0;
            

            &-create {
                display: flex;
                height: 160px;
                width: 160px;
                background: #fff;
                color: #000 !important;
                border-radius: 8px;
                border: 1px solid transparent;
                transition: color .2s linear, border-color .2s linear;

                &:hover {
                    border: 1px solid green;
                }

                &:hover > &-link {
                    color: green;
                }

                &-link {
                    color: #000;
                    text-decoration: none;
                    margin: auto;
                    font-size: 1.3rem;
                    text-align: center;
                }
            }
        }
    }

    &__table {
        max-width: 1000px;
        margin: 0 auto;
        padding: 1.5rem 0;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 14px;

            &-item {
                font-size: 1.5rem;
                color: #202124;
            }
        }

        &-list {
            @include reset-list();

            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 14px;
                color: #202124;
                font-size: 1rem;
                border-radius: 25px;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background-color: rgba(160, 238, 182, .7);
                }

                &-link {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                    
                }

                &-date {

                }
            }
        }
    }
}

