.active-resize {
    background-color: dodgerblue !important;
}

.active-resize-col {
    @extend .active-resize;
    cursor: col-resize;
}

.active-resize-row {
    @extend .active-resize;
    cursor: row-resize;
}

