@mixin button($color: tomato) {
    cursor: pointer;
    padding: 5px 8px;
    margin: 0;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: background-color .2s linear, color .2s linear;

    &:hover {
        background: rgba(0, 0, 0, .3);
    }

    &:active {
        color: $color;
    }
}

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}