//height

$header-height: 50px;
$toolbar-height: 50px;
$formula-height: 50px;
$db-header-height: 64px;

// db-header-height 64px box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15) 160px 160px dadce0 green 202124 0 12px strong 12 14 12 16 e6f4ea radius 25px


//colors
$input-focus: #1a73e8;
$border-color: #c0c0c0;
$cell-border-color: #e2e3e3;

//sizes
$info-cell-width: 40px;
$row-min-height: 24px;
$cell-width: 120px;
$row-height: 24px;