@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';
@import './excel/header.scss';
@import './excel/formula.scss';
@import './excel/table.scss';
@import './excel/toolbar.scss';
@import './dashboard/dashboard.scss';
@import './excel/shared.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    max-width: 100%;
    color: #888;
}
